<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../../assets/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/uf-style.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="uf-form-signin">
        <div class="text-center">
            <a href="~/Home/Index"><img src="../../assets/img/logo-fb.png" alt="" width="100" height="100"></a>
            <h1 class="text-white h3">Đăng nhập</h1>
        </div>
        <form class="mt-4" id="loginForm">
            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-user"></span>
                <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username" id="loginUsername" autocomplete="off">
            </div>
            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-lock"></span>
                <input type="password" class="form-control" placeholder="Mật khẩu" name="password" id="loginPassword" autocomplete="off">
            </div>
            <div class="d-flex mb-3 justify-content-between">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input uf-form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-white" for="exampleCheck1">Lưu thông tin</label>
                </div>
                <a href="#">Quên mật khẩu?</a>
            </div>
            <div class="d-grid mb-4">
                <button type="submit" class="btn uf-btn-primary btn-lg">Đăng nhập</button>
            </div>
            <div id="errorMessage" style="color: red; display: none;"></div>
            <div class="mt-4 text-center">
                <span class="text-white">Chưa có tài khoản?</span>
                <a href="~/Login/Register">Đăng ký</a>
            </div>
        </form>
    </div>

    <!-- JavaScript -->
    <!-- Separate Popper and Bootstrap JS -->
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginForm').on('submit', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '../../Login/LoginAccount',
                    data: $('#loginForm').serialize(),
                    success: function (response) {
                        if (response.success) {
                            window.location.href = response.redirectUrl;
                        } else {
                            $('#errorMessage').text(response.message).show();
                        }
                    },
                    error: function () {
                        $('#errorMessage').text("Đã xảy ra lỗi. Vui lòng thử lại sau.").show();
                    }
                });
            });
        });
    </script>
</body>
</html>