USE [master]
GO
/****** Object:  Database [musicweb1]    Script Date: 12/13/2025 11:40:55 AM ******/
CREATE DATABASE [musicweb1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'musicweb1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER3\MSSQL\DATA\musicweb1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'musicweb1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER3\MSSQL\DATA\musicweb1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [musicweb1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [musicweb1]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[album_id] [int] IDENTITY(1,1) NOT NULL,
	[album_name] [nvarchar](100) NOT NULL,
	[artist_id] [int] NULL,
	[release_date] [date] NULL,
	[cover_image] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[album_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[artist_id] [int] IDENTITY(1,1) NOT NULL,
	[artist_name] [nvarchar](100) NOT NULL,
	[bio] [nvarchar](max) NULL,
	[avatar_image] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[artist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[song_id] [int] NULL,
	[comment_text] [nvarchar](max) NULL,
	[commented_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[genre_name] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[playlist_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[playlist_name] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistSongs]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSongs](
	[playlist_song_id] [int] IDENTITY(1,1) NOT NULL,
	[playlist_id] [int] NULL,
	[song_id] [int] NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[playlist_song_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongArtists]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongArtists](
	[song_artist_id] [int] IDENTITY(1,1) NOT NULL,
	[song_id] [int] NULL,
	[artist_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[song_artist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[song_id] [int] IDENTITY(1,1) NOT NULL,
	[song_name] [nvarchar](100) NOT NULL,
	[album_id] [int] NULL,
	[genre_id] [int] NULL,
	[release_date] [date] NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[lyrics] [nvarchar](max) NULL,
	[thumbnail_image] [nvarchar](255) NULL,
	[views_song] [int] NULL,
	[likes_count] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[song_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/13/2025 11:40:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](15) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([album_id], [album_name], [artist_id], [release_date], [cover_image], [created_at], [updated_at]) VALUES (1, N'M-TP', 1, CAST(N'2017-08-15' AS Date), N'album_mtp.jpg', CAST(N'2025-12-11T23:16:42.450' AS DateTime), CAST(N'2025-12-11T23:16:42.450' AS DateTime))
INSERT [dbo].[Albums] ([album_id], [album_name], [artist_id], [release_date], [cover_image], [created_at], [updated_at]) VALUES (2, N'Heartbeat', 2, CAST(N'2019-12-01' AS Date), N'album_heartbeat.jpg', CAST(N'2025-12-11T23:16:42.450' AS DateTime), CAST(N'2025-12-11T23:16:42.450' AS DateTime))
INSERT [dbo].[Albums] ([album_id], [album_name], [artist_id], [release_date], [cover_image], [created_at], [updated_at]) VALUES (3, N'Và Em Có Thể', 3, CAST(N'2020-05-10' AS Date), N'album_vaemcothe.jpg', CAST(N'2025-12-11T23:16:42.450' AS DateTime), CAST(N'2025-12-13T08:15:13.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([artist_id], [artist_name], [bio], [avatar_image], [created_at], [updated_at]) VALUES (1, N'Sơn Tùng M-TP', N'Nghệ sĩ nổi tiếng với những bản hit đình đám.', N'son_tung.jpg', CAST(N'2025-12-11T23:16:42.417' AS DateTime), CAST(N'2025-12-11T23:16:42.417' AS DateTime))
INSERT [dbo].[Artists] ([artist_id], [artist_name], [bio], [avatar_image], [created_at], [updated_at]) VALUES (2, N'Mỹ Tâm', N'Ca sĩ, nhạc sĩ nổi tiếng tại Việt Nam.', N'my_tam.jpg', CAST(N'2025-12-11T23:16:42.417' AS DateTime), CAST(N'2025-12-11T23:16:42.417' AS DateTime))
INSERT [dbo].[Artists] ([artist_id], [artist_name], [bio], [avatar_image], [created_at], [updated_at]) VALUES (3, N'Đàm Vĩnh Hưng', N'Một trong những ca sĩ hàng đầu Việt Nam.', N'dam_vinh_hung.jpg', CAST(N'2025-12-11T23:16:42.417' AS DateTime), CAST(N'2025-12-11T23:16:42.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([comment_id], [user_id], [song_id], [comment_text], [commented_at]) VALUES (1, 1, 1, N'Bài này hay quá!', CAST(N'2025-12-11T23:16:42.650' AS DateTime))
INSERT [dbo].[Comments] ([comment_id], [user_id], [song_id], [comment_text], [commented_at]) VALUES (2, 1, 2, N'Chạy Ngay Đi thật sự rất tuyệt!', CAST(N'2025-12-11T23:16:42.650' AS DateTime))
INSERT [dbo].[Comments] ([comment_id], [user_id], [song_id], [comment_text], [commented_at]) VALUES (3, 1, 3, N'Tôi thích giai điệu của bài hát này.', CAST(N'2025-12-11T23:16:42.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([genre_id], [genre_name], [region]) VALUES (1, N'Nhạc Trẻ', N'Việt Nam')
INSERT [dbo].[Genres] ([genre_id], [genre_name], [region]) VALUES (2, N'Trữ Tình', N'Việt Nam')
INSERT [dbo].[Genres] ([genre_id], [genre_name], [region]) VALUES (3, N'Remix', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([playlist_id], [user_id], [playlist_name], [created_at], [updated_at]) VALUES (1, 1, N'Danh sách phát yêu thích 1', CAST(N'2025-12-11T23:16:42.540' AS DateTime), CAST(N'2025-12-11T23:16:42.540' AS DateTime))
INSERT [dbo].[Playlists] ([playlist_id], [user_id], [playlist_name], [created_at], [updated_at]) VALUES (2, 1, N'Danh sách phát cho mùa hè', CAST(N'2025-12-11T23:16:42.540' AS DateTime), CAST(N'2025-12-11T23:16:42.540' AS DateTime))
INSERT [dbo].[Playlists] ([playlist_id], [user_id], [playlist_name], [created_at], [updated_at]) VALUES (3, 1, N'Thể loại Nhạc Trẻ', CAST(N'2025-12-11T23:16:42.540' AS DateTime), CAST(N'2025-12-11T23:16:42.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaylistSongs] ON 

INSERT [dbo].[PlaylistSongs] ([playlist_song_id], [playlist_id], [song_id], [added_at]) VALUES (1, 1, 1, CAST(N'2025-12-11T23:16:42.550' AS DateTime))
INSERT [dbo].[PlaylistSongs] ([playlist_song_id], [playlist_id], [song_id], [added_at]) VALUES (2, 1, 2, CAST(N'2025-12-11T23:16:42.550' AS DateTime))
INSERT [dbo].[PlaylistSongs] ([playlist_song_id], [playlist_id], [song_id], [added_at]) VALUES (4, 2, 4, CAST(N'2025-12-11T23:16:42.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[PlaylistSongs] OFF
GO
SET IDENTITY_INSERT [dbo].[SongArtists] ON 

INSERT [dbo].[SongArtists] ([song_artist_id], [song_id], [artist_id]) VALUES (1, 1, 1)
INSERT [dbo].[SongArtists] ([song_artist_id], [song_id], [artist_id]) VALUES (2, 2, 1)
INSERT [dbo].[SongArtists] ([song_artist_id], [song_id], [artist_id]) VALUES (4, 4, 4)
SET IDENTITY_INSERT [dbo].[SongArtists] OFF
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([song_id], [song_name], [album_id], [genre_id], [release_date], [file_name], [lyrics], [thumbnail_image], [views_song], [likes_count], [created_at], [updated_at]) VALUES (2, N'Hãy Trao Cho Anh', 1, 1, CAST(N'2019-07-01' AS Date), N'hay_trao_cho_anh.mp3', N'Lời bài hát Hãy Trao Cho Anh...', N'hay_trao_cho_anh.jpg', 90000000, 5000, CAST(N'2025-12-11T23:16:42.503' AS DateTime), CAST(N'2025-12-11T23:16:42.503' AS DateTime))
INSERT [dbo].[Songs] ([song_id], [song_name], [album_id], [genre_id], [release_date], [file_name], [lyrics], [thumbnail_image], [views_song], [likes_count], [created_at], [updated_at]) VALUES (3, N'Có Chắc Yêu Là Đây', NULL, 1, CAST(N'2017-07-12' AS Date), N'co_chac_yeu_la_day.mp3', N'ghjklkjn
hgjk', N'co_chac_yeu_la_day.jpg', 105000000, 4000, CAST(N'2025-12-11T23:16:42.503' AS DateTime), CAST(N'2025-12-12T15:15:51.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [email], [phone_number], [created_at], [updated_at], [fullname], [role]) VALUES (1, N'admin', N'123', N'admin@example.com', N'0123456789', CAST(N'2025-12-11T23:16:42.360' AS DateTime), CAST(N'2025-12-11T23:16:42.360' AS DateTime), N'Administrator', N'Admin')
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [phone_number], [created_at], [updated_at], [fullname], [role]) VALUES (2, N'huyen', N'123456', N'huyen@gmail.com', N'09876543', CAST(N'2025-12-11T23:45:03.120' AS DateTime), CAST(N'2025-12-12T09:39:47.127' AS DateTime), N'Huyền', N'Người dùng')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616485825D40]    Script Date: 12/13/2025 11:40:56 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Albums] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Albums] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Artists] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Artists] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [commented_at]
GO
ALTER TABLE [dbo].[Playlists] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Playlists] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PlaylistSongs] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT ((0)) FOR [views_song]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT ((0)) FOR [likes_count]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artists] ([artist_id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([song_id])
REFERENCES [dbo].[Songs] ([song_id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD FOREIGN KEY([playlist_id])
REFERENCES [dbo].[Playlists] ([playlist_id])
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD FOREIGN KEY([song_id])
REFERENCES [dbo].[Songs] ([song_id])
GO
ALTER TABLE [dbo].[SongArtists]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[Artists] ([artist_id])
GO
ALTER TABLE [dbo].[SongArtists]  WITH CHECK ADD FOREIGN KEY([song_id])
REFERENCES [dbo].[Songs] ([song_id])
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD FOREIGN KEY([album_id])
REFERENCES [dbo].[Albums] ([album_id])
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([genre_id])
GO
/****** Object:  StoredProcedure [dbo].[AddAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddAlbum]
    @AlbumName NVARCHAR(100),
    @ArtistID INT,
    @ReleaseDate DATE,
    @CoverImage NVARCHAR(255)
AS
BEGIN
    INSERT INTO Albums (album_name, artist_id, release_date, cover_image, created_at, updated_at)
    VALUES (@AlbumName, @ArtistID, @ReleaseDate, @CoverImage, GETDATE(), GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[AddArtist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddArtist]
    @ArtistName NVARCHAR(100),
    @Bio NVARCHAR(MAX) = NULL,
    @AvatarImage NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Artists WHERE artist_name = @ArtistName)
    BEGIN
        RAISERROR ('Artist with the same name already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO Artists (artist_name, bio, avatar_image, created_at, updated_at)
    VALUES (@ArtistName, @Bio, @AvatarImage, GETDATE(), GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNewSongToAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewSongToAlbum]
    @AlbumId INT,
    @SongName NVARCHAR(100),
    @GenreID INT,
    @Lyrics NVARCHAR(MAX),
    @ReleaseDate DATE,
    @FileName NVARCHAR(255),
    @ThumbnailImage NVARCHAR(255)
AS
BEGIN
    INSERT INTO Songs (song_name, album_id, genre_id, lyrics, release_date, file_name, thumbnail_image, created_at, updated_at)
    VALUES (@SongName, @AlbumId, @GenreID, @Lyrics, @ReleaseDate, @FileName, @ThumbnailImage, GETDATE(), GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewUser]
    @Username NVARCHAR(100),
    @Password NVARCHAR(255),
    @Fullname NVARCHAR(100),
    @Role NVARCHAR(20),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(15) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE username = @Username)
    BEGIN
        RAISERROR(N'Username đã tồn tại. Vui lòng chọn username khác.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Users WHERE email = @Email)
    BEGIN
        RAISERROR(N'Email này đã tồn tại.', 16, 1);
        RETURN;
    END

    INSERT INTO Users (username, password, email, phone_number, created_at, updated_at, fullname, role)
    VALUES (@Username, @Password, @Email, @PhoneNumber, GETDATE(), GETDATE(), @Fullname, @Role);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddPlaylist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPlaylist]
    @UserId INT,
    @PlaylistName NVARCHAR(100)
AS
BEGIN
    INSERT INTO Playlists (user_id, playlist_name, created_at, updated_at)
    VALUES (@UserId, @PlaylistName, GETDATE(), GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[AddSong]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSong]
    @SongName NVARCHAR(100),
    @AlbumID INT,
    @GenreID INT,
    @Lyrics NVARCHAR(MAX),
    @ReleaseDate DATE,
    @FileName NVARCHAR(255),
    @ThumbnailImage NVARCHAR(255)
AS
BEGIN
    BEGIN TRY
        INSERT INTO Songs (song_name, album_id, genre_id, lyrics, release_date, file_name, thumbnail_image, created_at, updated_at)
        VALUES (@SongName, @AlbumID, @GenreID, @Lyrics, @ReleaseDate, @FileName, @ThumbnailImage, GETDATE(), GETDATE());
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 50001, @ErrorMessage, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AddSongToAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSongToAlbum]
    @AlbumId INT,
    @SongId INT
AS
BEGIN
    UPDATE Songs
    SET album_id = @AlbumId
    WHERE song_id = @SongId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddSongToPlaylist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSongToPlaylist]
    @PlaylistId INT,
    @SongId INT
AS
BEGIN
    INSERT INTO PlaylistSongs (playlist_id, song_id, added_at)
    VALUES (@PlaylistId, @SongId, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @UserId INT,
    @NewPassword NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET password = @NewPassword,
        updated_at = GETDATE()
    WHERE user_id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckUserExists]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUserExists]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE username = @Username)
    BEGIN
        SELECT 1 AS UserExists;
    END
    ELSE
    BEGIN
        SELECT 0 AS UserExists;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAlbum]
@AlbumId INT
AS
BEGIN
BEGIN TRY
BEGIN TRANSACTION
UPDATE Songs SET album_id = NULL WHERE album_id = @AlbumId;
DELETE FROM Albums WHERE album_id = @AlbumId;
COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
THROW;
END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteArtist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteArtist]
    @ArtistId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Artists
    WHERE artist_id = @ArtistId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePlaylist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePlaylist]
    @PlaylistId INT
AS
BEGIN
    DELETE FROM PlaylistSongs WHERE playlist_id = @PlaylistId;
    DELETE FROM Playlists WHERE playlist_id = @PlaylistId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteSong]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSong]
    @SongId INT
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Songs WHERE song_id = @SongId)
        BEGIN
            THROW 50000, 'Bài hát không tồn tại.', 1;
        END

        DELETE FROM PlaylistSongs WHERE song_id = @SongId;
        DELETE FROM SongArtists WHERE song_id = @SongId;
        DELETE FROM Comments WHERE song_id = @SongId;
        DELETE FROM Songs WHERE song_id = @SongId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 50001, @ErrorMessage, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE user_id = @UserId)
    BEGIN
        DELETE FROM Users WHERE user_id = @UserId;
        SELECT N'Người dùng đã được xóa thành công.' AS Message;
    END
    ELSE
    BEGIN
        SELECT N'Người dùng không tồn tại.' AS Message;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAlbumById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAlbumById]
    @AlbumId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.album_id,
        a.album_name,
        a.artist_id,
        ar.artist_name,
        a.release_date,
        a.cover_image,
        a.created_at,
        a.updated_at
    FROM Albums a
    LEFT JOIN Artists ar ON a.artist_id = ar.artist_id
    WHERE a.album_id = @AlbumId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAlbumWithArtists]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAlbumWithArtists]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.album_id,
        a.album_name,
        a.release_date,
        a.cover_image,
        ar.artist_id,
        ar.artist_name
    FROM Albums a
    JOIN Artists ar ON a.artist_id = ar.artist_id
    ORDER BY a.release_date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllArtists]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllArtists]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Artists;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllData]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllData]
AS
BEGIN
    SET NOCOUNT ON;

    -- Users
    SELECT * FROM Users;

    -- Genres
    SELECT * FROM Genres;

    -- Artists
    SELECT * FROM Artists;

    -- Albums + artist_name
    SELECT a.*, ar.artist_name
    FROM Albums a
    LEFT JOIN Artists ar ON a.artist_id = ar.artist_id;

    -- Songs + genre + album
    SELECT s.*, g.genre_name, al.album_name, al.cover_image
    FROM Songs s
    LEFT JOIN Genres g ON s.genre_id = g.genre_id
    LEFT JOIN Albums al ON s.album_id = al.album_id;

    -- SongArtists + tên
    SELECT sa.*, ar.artist_name, s.song_name
    FROM SongArtists sa
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    LEFT JOIN Songs s ON sa.song_id = s.song_id;

    -- Playlists
    SELECT p.*, u.username
    FROM Playlists p
    LEFT JOIN Users u ON p.user_id = u.user_id;

    -- PlaylistSongs
    SELECT ps.*, pl.playlist_name, s.song_name
    FROM PlaylistSongs ps
    LEFT JOIN Playlists pl ON ps.playlist_id = pl.playlist_id
    LEFT JOIN Songs s ON ps.song_id = s.song_id;

    -- Comments
    SELECT c.*, u.username, s.song_name
    FROM Comments c
    LEFT JOIN Users u ON c.user_id = u.user_id
    LEFT JOIN Songs s ON c.song_id = s.song_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllGenres]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllGenres]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT genre_id, genre_name, region FROM Genres;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllSongs]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllSongs]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        a.album_name,
        g.genre_name,
        STRING_AGG(ar.artist_name, ', ') AS artist_names
    FROM Songs s
    LEFT JOIN Albums a ON s.album_id = a.album_id
    LEFT JOIN Genres g ON s.genre_id = g.genre_id
    LEFT JOIN SongArtists sa ON s.song_id = sa.song_id
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    GROUP BY 
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        a.album_name,
        g.genre_name
    ORDER BY s.views_song DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        user_id,
        username,
        password,
        fullname,
        role,
        email,
        phone_number,
        created_at,
        updated_at
    FROM Users
    ORDER BY created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetArtistById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArtistById]
    @ArtistId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        artist_id,
        artist_name,
        bio,
        avatar_image,
        created_at,
        updated_at
    FROM Artists
    WHERE artist_id = @ArtistId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo procedure mới với lyrics column
CREATE PROCEDURE [dbo].[GetSongById]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        a.album_name,
        g.genre_name,
        ar.artist_name,
        s.lyrics
    FROM Songs s
    LEFT JOIN Albums a ON s.album_id = a.album_id
    LEFT JOIN Genres g ON s.genre_id = g.genre_id
    LEFT JOIN SongArtists sa ON s.song_id = sa.song_id
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    WHERE s.song_id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongDetailsAndRelatedSongs]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSongDetailsAndRelatedSongs]
    @song_id INT
AS
BEGIN
    SET NOCOUNT ON;

    WITH SongWithOrder AS (
        -- Bài hát chính
        SELECT 
            S.song_id,
            S.song_name,
            S.album_id,
            A.album_name,
            G.genre_name,
            S.release_date,
            S.file_name,
            S.thumbnail_image,
            S.lyrics,
            S.views_song,
            S.likes_count,
            AR.artist_name,
            1 AS IsMainSong
        FROM Songs S
        LEFT JOIN Albums A ON S.album_id = A.album_id
        JOIN Genres G ON S.genre_id = G.genre_id
        JOIN SongArtists SA ON S.song_id = SA.song_id
        JOIN Artists AR ON SA.artist_id = AR.artist_id
        WHERE S.song_id = @song_id

        UNION ALL

        -- Bài hát liên quan cùng thể loại
        SELECT 
            S.song_id,
            S.song_name,
            S.album_id,
            A.album_name,
            G.genre_name,
            S.release_date,
            S.file_name,
            S.thumbnail_image,
            S.lyrics,
            S.views_song,
            S.likes_count,
            AR.artist_name,
            0 AS IsMainSong
        FROM Songs S
        LEFT JOIN Albums A ON S.album_id = A.album_id
        JOIN Genres G ON S.genre_id = G.genre_id
        JOIN SongArtists SA ON S.song_id = SA.song_id
        JOIN Artists AR ON SA.artist_id = AR.artist_id
        WHERE S.genre_id = (SELECT genre_id FROM Songs WHERE song_id = @song_id)
          AND S.song_id <> @song_id
    )
    SELECT 
        ROW_NUMBER() OVER (ORDER BY IsMainSong DESC, views_song DESC) AS RowNum,
        song_id,
        song_name,
        album_id,
        album_name,
        genre_name,
        release_date,
        file_name,
        thumbnail_image,
        lyrics,
        views_song,
        likes_count,
        artist_name,
        IsMainSong
    FROM SongWithOrder
    ORDER BY IsMainSong DESC, views_song DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongsByGenre]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSongsByGenre]
    @GenreId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        ISNULL(a.album_name, N'Không có album') AS album_name,
        ar.artist_name,
        g.genre_name,
        s.release_date,
        s.views_song,
        s.likes_count
    FROM Songs s
    LEFT JOIN Albums a ON s.album_id = a.album_id
    LEFT JOIN SongArtists sa ON s.song_id = sa.song_id
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    JOIN Genres g ON s.genre_id = g.genre_id
    WHERE s.genre_id = @GenreId
    ORDER BY s.views_song DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongsByGenreName]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSongsByGenreName]
    @GenreName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        ISNULL(a.album_name, N'Không có album') AS album_name,
        g.genre_name,
        ar.artist_name
    FROM Songs s
    LEFT JOIN Albums a ON s.album_id = a.album_id
    LEFT JOIN SongArtists sa ON s.song_id = sa.song_id
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    JOIN Genres g ON s.genre_id = g.genre_id
    WHERE g.genre_name = @GenreName
    ORDER BY s.views_song DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongsInAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSongsInAlbum]
    @AlbumId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        s.genre_id,
        g.genre_name,
        s.lyrics,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        s.created_at,
        s.updated_at,
        ar.artist_name
    FROM Songs s
    LEFT JOIN Genres g ON s.genre_id = g.genre_id
    LEFT JOIN SongArtists sa ON s.song_id = sa.song_id
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    WHERE s.album_id = @AlbumId
    ORDER BY s.song_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongsInPlaylist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSongsInPlaylist]
    @PlaylistId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        a.album_name,
        g.genre_name,
        ar.artist_name
    FROM PlaylistSongs ps
    JOIN Songs s ON ps.song_id = s.song_id
    LEFT JOIN Albums a ON s.album_id = a.album_id
    LEFT JOIN Genres g ON s.genre_id = g.genre_id
    LEFT JOIN SongArtists sa ON s.song_id = sa.song_id
    LEFT JOIN Artists ar ON sa.artist_id = ar.artist_id
    WHERE ps.playlist_id = @PlaylistId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSongsWithArtists]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSongsWithArtists]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        a.album_name,
        g.genre_name,
        ar.artist_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.likes_count,
        s.views_song,
        s.lyrics
    FROM Songs s
    JOIN Albums a ON s.album_id = a.album_id
    JOIN Genres g ON s.genre_id = g.genre_id
    JOIN SongArtists sa ON s.song_id = sa.song_id
    JOIN Artists ar ON sa.artist_id = ar.artist_id
    ORDER BY s.release_date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop10Albums]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop10Albums]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 10
        al.album_id,
        al.album_name,
        al.release_date,
        al.cover_image,
        a.artist_name,
        COUNT(s.song_id) AS song_count
    FROM Albums al
    JOIN Artists a ON al.artist_id = a.artist_id
    JOIN Songs s ON al.album_id = s.album_id
    GROUP BY al.album_id, al.album_name, al.release_date, al.cover_image, a.artist_name
    ORDER BY COUNT(s.song_id) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop10NewestSongs]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop10NewestSongs]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 10
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.likes_count,
        s.views_song,
        s.lyrics,
        a.artist_name,
        al.album_name,
        g.genre_name
    FROM Songs s
    JOIN SongArtists sa ON s.song_id = sa.song_id
    JOIN Artists a ON sa.artist_id = a.artist_id
    LEFT JOIN Albums al ON s.album_id = al.album_id
    JOIN Genres g ON s.genre_id = g.genre_id
    ORDER BY s.release_date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop10SongsByViews]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop10SongsByViews]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ROW_NUMBER() OVER (ORDER BY S.views_song DESC) AS Rank,
        S.song_id,
        S.song_name,
        S.views_song,
        S.likes_count,
        S.release_date,
        S.thumbnail_image,
        A.artist_name
    FROM Songs S
    JOIN SongArtists SA ON S.song_id = SA.song_id
    JOIN Artists A ON SA.artist_id = A.artist_id
    ORDER BY S.views_song DESC
    OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop10SongsToday]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop10SongsToday]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    IF EXISTS (
        SELECT 1
        FROM Songs s
        WHERE CAST(s.created_at AS DATE) = @Today
    )
    BEGIN
        SELECT TOP 10
            s.song_id,
            s.song_name,
            s.album_id,
            s.genre_id,
            s.release_date,
            s.file_name,
            s.thumbnail_image,
            s.views_song,
            s.likes_count,
            s.created_at,
            s.updated_at,
            a.artist_name,
            g.genre_name
        FROM Songs s
        JOIN SongArtists sa ON s.song_id = sa.song_id
        JOIN Artists a ON sa.artist_id = a.artist_id
        JOIN Genres g ON s.genre_id = g.genre_id
        WHERE CAST(s.created_at AS DATE) = @Today
        ORDER BY s.views_song DESC;
    END
    ELSE
    BEGIN
        SELECT TOP 10
            s.song_id,
            s.song_name,
            s.album_id,
            s.genre_id,
            s.release_date,
            s.file_name,
            s.thumbnail_image,
            s.views_song,
            s.likes_count,
            s.created_at,
            s.updated_at,
            a.artist_name,
            g.genre_name
        FROM Songs s
        JOIN SongArtists sa ON s.song_id = sa.song_id
        JOIN Artists a ON sa.artist_id = a.artist_id
        JOIN Genres g ON s.genre_id = g.genre_id
        ORDER BY NEWID();
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop12SongsByViews]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop12SongsByViews]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 12
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.likes_count,
        s.views_song,
        s.lyrics,
        a.artist_name,
        al.album_name,
        g.genre_name
    FROM Songs s
    JOIN SongArtists sa ON s.song_id = sa.song_id
    JOIN Artists a ON sa.artist_id = a.artist_id
    LEFT JOIN Albums al ON s.album_id = al.album_id
    JOIN Genres g ON s.genre_id = g.genre_id
    ORDER BY s.views_song DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop6ArtistsWithRanking]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop6ArtistsWithRanking]
AS
BEGIN
    SET NOCOUNT ON;

    WITH RankedArtists AS (
        SELECT 
            A.artist_id,
            A.artist_name,
            A.bio,
            A.avatar_image,
            COALESCE(SUM(S.likes_count), 0) AS total_likes,
            ROW_NUMBER() OVER (ORDER BY COALESCE(SUM(S.likes_count), 0) DESC) AS ranking
        FROM Artists A
        LEFT JOIN SongArtists SA ON A.artist_id = SA.artist_id
        LEFT JOIN Songs S ON SA.song_id = S.song_id
        GROUP BY A.artist_id, A.artist_name, A.bio, A.avatar_image
    )
    SELECT 
        artist_id,
        artist_name,
        bio,
        avatar_image,
        total_likes,
        ranking
    FROM RankedArtists
    WHERE ranking <= 6;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE user_id = @UserId)
    BEGIN
        RAISERROR(N'Người dùng không tồn tại.', 16, 1);
        RETURN;
    END

    SELECT 
        user_id,
        username,
        fullname,
        role,
        email,
        phone_number,
        created_at,
        updated_at
    FROM Users
    WHERE user_id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserInfo]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserInfo]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        user_id,
        username,
        fullname,
        email,
        phone_number,
        created_at,
        updated_at,
        role
    FROM Users
    WHERE user_id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserInfoById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserInfoById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        user_id,
        username,
        fullname,
        email,
        phone_number,
        created_at,
        updated_at,
        role
    FROM Users
    WHERE user_id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserPlaylists]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserPlaylists]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.playlist_id,
        p.playlist_name,
        p.created_at,
        p.updated_at
    FROM Playlists p
    WHERE p.user_id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @Username NVARCHAR(100),
    @Password NVARCHAR(255),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(15) = NULL,
    @Fullname NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE username = @Username)
    BEGIN
        RAISERROR(N'Tên người dùng đã tồn tại!', 16, 1);
        RETURN;
    END

    INSERT INTO Users (username, password, email, phone_number, fullname, role, created_at, updated_at)
    VALUES (@Username, @Password, @Email, @PhoneNumber, @Fullname, N'Người dùng', GETDATE(), GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveAllSongsFromAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveAllSongsFromAlbum]
    @AlbumId INT
AS
BEGIN
    UPDATE Songs
    SET album_id = NULL
    WHERE album_id = @AlbumId;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveSongFromPlaylist]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveSongFromPlaylist]
    @PlaylistId INT,
    @SongId INT
AS
BEGIN
    DELETE FROM PlaylistSongs
    WHERE playlist_id = @PlaylistId AND song_id = @SongId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchSongsOrArtists]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchSongsOrArtists]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.song_id,
        s.song_name,
        s.release_date,
        s.file_name,
        s.thumbnail_image,
        s.views_song,
        s.likes_count,
        a.album_name,
        g.genre_name,
        ar.artist_name
    FROM Songs s
    LEFT JOIN Albums a ON s.album_id = a.album_id
    JOIN SongArtists sa ON s.song_id = sa.song_id
    JOIN Artists ar ON sa.artist_id = ar.artist_id
    JOIN Genres g ON s.genre_id = g.genre_id
    WHERE s.song_name LIKE '%' + @SearchTerm + '%'
       OR ar.artist_name LIKE '%' + @SearchTerm + '%'
    ORDER BY s.views_song DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateAlbum]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAlbum]
    @AlbumId INT,
    @AlbumName NVARCHAR(100),
    @ArtistID INT,
    @ReleaseDate DATE,
    @CoverImage NVARCHAR(255)
AS
BEGIN
    UPDATE Albums
    SET album_name = @AlbumName,
        artist_id = @ArtistID,
        release_date = @ReleaseDate,
        cover_image = @CoverImage,
        updated_at = GETDATE()
    WHERE album_id = @AlbumId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateArtistById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateArtistById]
    @ArtistId INT,
    @ArtistName NVARCHAR(100),
    @Bio NVARCHAR(MAX),
    @AvatarImage NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Artists
    SET artist_name = @ArtistName,
        bio = @Bio,
        avatar_image = @AvatarImage,
        updated_at = GETDATE()
    WHERE artist_id = @ArtistId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateSongById]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSongById]
    @SongId INT,
    @SongName NVARCHAR(100),
    @AlbumID INT,
    @GenreID INT,
    @Lyrics NVARCHAR(MAX),
    @ReleaseDate DATE,
    @FileName NVARCHAR(255),
    @ThumbnailImage NVARCHAR(255)
AS
BEGIN
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Songs WHERE song_id = @SongId)
        BEGIN
            THROW 50000, 'Bài hát không tồn tại.', 1;
        END

        UPDATE Songs
        SET song_name = @SongName,
            album_id = @AlbumID,
            genre_id = @GenreID,
            lyrics = @Lyrics,
            release_date = @ReleaseDate,
            file_name = @FileName,
            thumbnail_image = @ThumbnailImage,
            updated_at = GETDATE()
        WHERE song_id = @SongId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 50001, @ErrorMessage, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @UserId INT,
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(15) = NULL,
    @Fullname NVARCHAR(100),
    @Role NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE user_id = @UserId)
    BEGIN
        RAISERROR(N'Người dùng không tồn tại.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Users WHERE email = @Email AND user_id <> @UserId)
    BEGIN
        RAISERROR(N'Email đã tồn tại. Vui lòng nhập email khác.', 16, 1);
        RETURN;
    END

    UPDATE Users
    SET email = @Email,
        phone_number = @PhoneNumber,
        fullname = @Fullname,
        role = @Role,
        updated_at = GETDATE()
    WHERE user_id = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UserLogin]    Script Date: 12/13/2025 11:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserLogin]
    @Username NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE username = @Username AND password = @Password)
    BEGIN
        SELECT user_id, username, email, phone_number, fullname, role, created_at, updated_at
        FROM Users
        WHERE username = @Username AND password = @Password;
    END
END;
GO
USE [master]
GO

SELECT name FROM sys.databases;
SELECT * FROM Albums;