<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Home - NCT</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
    <script src="https://unpkg.com/&commat;lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-simplebar>
                <div class="d-flex mb-4 align-items-center justify-content-between">
                    <a href="index" class="text-nowrap logo-img ms-0 ms-md-1">
                        <img src="~/assets/images/logos/dark-logo.svg" width="180" alt="">
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="mb-4 pb-2">
                        <!--Home-->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link primary-hover-bg"
                               href="~/Admin/Dashboard/Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-primary rounded-3">
                                    <i class="ti ti-layout-dashboard fs-7 text-primary"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Dashboard</span>
                            </a>
                        </li>
                        <!--Quản lý-->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
                            <span class="hide-menu">Quản lý</span>
                        </li>
                        <!--Người dùng-->
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link warning-hover-bg"
                               href="~/Admin/Users/Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-warning rounded-3">
                                    <i class="ti ti-user fs-7 text-warning"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Người dùng</span>
                            </a>
                        </li>
                        <!--Thể loại-->
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link danger-hover-bg"
                               href="~/Admin/Genres/Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-danger rounded-3">
                                    <i class="ti ti-category fs-7 text-danger"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Thể loại</span>
                            </a>
                        </li>
                        <!--Nghệ sĩ-->
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link success-hover-bg"
                               href="~/Admin/Artists/Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-success rounded-3">
                                    <i class="ti ti-user-heart fs-7 text-success"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Nghệ sĩ</span>
                            </a>
                        </li>
                        <!--Albums-->
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link primary-hover-bg"
                               href="~/Admin/Albums/Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-primary rounded-3">
                                    <i class="ti ti-disc fs-7 text-primary"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Albums</span>
                            </a>
                        </li>
                        <!--Bài hát-->
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link indigo-hover-bg"
                               href="~/Admin/Songs/Index"
                               aria-expanded="false">
                                <span class="aside-icon p-2 bg-light-indigo rounded-3">
                                    <i class="ti ti-headphones fs-7 text-indigo"></i>
                                </span>
                                <span class="hide-menu ms-2 ps-1">Bài hát</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/assets/images/logos/user1.jpg" alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">Thông tin cá nhân</p>
                                        </a>
                                        <a href="~/Login/LogOut" class="btn btn-outline-primary mx-3 mt-2 d-block shadow-none">Đăng xuất</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!--  Header End -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            @RenderSection("scripts", required: false)
        </div>
    </div>

    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
</body>

</html>